@model IEnumerable<CVHomepage.Models.Tag>

@{
    ViewBag.Title = "Tag Manager";
}

<h1>Tag Manager</h1>
<p>
     You can view tags here, but right now tag management is off limits while I decide the best
    way of dealing with a global tagging system that doesn't succumb to vandalism/user-error/chaos.
</p>
<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Index", "Skill", new  { tagFilter = item.Name }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>*@
    </tr>
}

</table>
