@model IEnumerable<CVHomepage.Models.CV>
@using CVHomepage.Helpers.SessionHelpers

@{
    ViewBag.Title = "CV Manager";
}
<p class="alert-success "> @ViewBag.message</p>
<h1>CV Manager</h1>
<p>
    This Demo is still in Alpha, and as such is not in a finished state. Most notably, CV creation is still basic and I
    consider it more of a placeholder than a solution right now. To see upcoming features check out
    @Html.ActionLink("the planned features", "Planned")
    Despite this, a lot of the base
    functionality is already in place for you to try. For various reasons you need to be logged in to do this,
    feel free to use <strong>username: </strong><em>demo </em> <strong>password: </strong> <em>password </em>. This is 
    a public account, so while I encourage you to try things out, if you could not completely decimate all the example skills/cvs I would appreciate it.
    Relatedly, some/all of the skills listed here may not be relevant to me anymore. You can
    also register your own account if you'd like. As mentioned, this is an Alpha though, so don't enter any
    sensitive data. 
</p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>

        <td>
            @if(item.ID == SessionHelpers.CurrentCV)
            {
                @Html.ActionLink("Currently Active CV", "Select", new { id = item.ID })
            }
            @if (item.ID != SessionHelpers.CurrentCV)
	        {
	         @Html.ActionLink("Select as Active CV", "Select", new { id = item.ID })
	        }
             |
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("View", "View", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
