@model IEnumerable<CVHomepage.Models.CV>
@using CVHomepage.Helpers.SessionHelpers

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>

        <td>
            @if(item.ID == SessionHelpers.CurrentCV)
            {
                @Html.ActionLink("Currently Active CV", "Select", new { id = item.ID })
            }
            @if (item.ID != SessionHelpers.CurrentCV)
	        {
	         @Html.ActionLink("Select as Active CV", "Select", new { id = item.ID })
	        }
             |
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("View", "View", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
