@model CVHomepage.ViewModels.Contact
@{
    ViewBag.Title = "Contact";
}

<p class="alert-success">@ViewBag.Sent</p>

<h1 class="col-md-offset-4">How to Contact me</h1>
<p>
    If you need to get in touch with me about a job, for more information, or to congratulate
    me on correctly predicting Tannehill as a superbowl winning quarterback, please use the form below.
    Your email wont be stored or used for anything other than replying to you. 
</p>

@using (Html.BeginForm())
{ 

    <div class="form-horizontal">
        <h2 >Contact Form</h2>
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Subject, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Subject)
                @Html.ValidationMessageFor(model => model.Subject)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MessageBody, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MessageBody)
                @Html.ValidationMessageFor(model => model.MessageBody)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send" class="btn btn-default" />
            </div>
        </div>

    </div>
}

@section Scripts 
{
    @Scripts.Render("~/bundles/jqueryval")
}
