@model CVHomepage.Models.Skill
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Create New Skill";
}

<h1>Create New Skill</h1>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.Hidden("User", User.Identity.GetUserId())
    <div class="form-horizontal">
        <hr />
            

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Notes, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Notes)
                @Html.ValidationMessageFor(model => model.Notes)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CVText, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CVText)
                @Html.ValidationMessageFor(model => model.CVText)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryID, "Category", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoryID", "Select a category")
                @Html.ValidationMessageFor(model => model.CategoryID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tags, "Tags", new { @class = "control-label col-md-3" })
            <div class="col-md-offset-1">
                <br/>
                @{
                    int count = 0;
                    foreach (var tag in ViewBag.Tags)
                    {
                        //this if statement simply spaces tags out onto lines after 4 tags so it doesn't look horrible
                        if (count % 4 == 0)
                        {
                            <br />
                        }
                        <label>@tag.Name</label>
                        <input type="checkbox"
                               name="selectedTags"
                               value="@tag.ID"
                               @(Html.Raw(tag.Assigned ? "checked=\"checked\"" : "")) />
                        count++;
                    }
                }
            </div>

        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Skill Manager", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
